.App {
  font-family: "Lexend", sans-serif;
  font-weight: 100;
  text-align: center;
  margin: -10px;
}

html {
  margin: 0;
  background-color: #ffffffab;
  /* background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png"); */
}
